<div class="card">
    <form #loginForm="ngForm" class="needs-validation" novalidate (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Model:</label>
            <input type="text" id="model" name="model" [(ngModel)]="car.model" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Brand:</label>
            <input type="text" id="brand" name="brand" [(ngModel)]="car.brand" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Daily Rate:</label>
            <input type="number" id="dailyRate" name="dailyRate" [(ngModel)]="car.dailyRate" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Is Available:</label>
            <select id="isAvailable" name="isAvailable" [(ngModel)]="car.isAvailable" class="form-control" required>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Contact No:</label>
            <input type="tel" id="contactNo" name="contactNo" [(ngModel)]="car.contactNo" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Location:</label>
            <input type="text" id="location" name="location" [(ngModel)]="car.location" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="imageUpload" class="form-label">Upload Image:</label>
            <input type="file" id="imageUpload" name="image" (change)="onFileSelected($event)" accept="image/*" class="form-control" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">ADD</button>
        </div>

    </form>
</div>
